<form class="mat-step-content" [formGroup]="employeeForm">
  <h2>Edit Profile Information</h2>
  <div class="pl-5">
    <div class="row">
      <div class="col-md-4" style="display: flex;align-items: center;">
        <div class="avatar-upload">
          <div class="avatar-edit">
            <input type='file' formControlName="profileImage" id="imageUpload2" accept=".png, .jpg, .jpeg"/>
            <label for="imageUpload2"></label>
          </div>
          <div class="avatar-preview">

            <div id="imagePreview3"
                 style="background-image: url(assets/logo/dp.jpg);">
            </div>
          </div>
        </div>
        <!-- dp uploading section ends -->
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="standard">
          <mat-label>Employee Name</mat-label>
          <input type="text" formControlName="name" matInput >
        </mat-form-field>
        <br>
        <mat-form-field  appearance="standard">
          <mat-label>Age</mat-label>
          <input type="text" formControlName="age" matInput >
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <div class="col-md-4">
        <mat-form-field appearance="standard">
          <mat-label>Address</mat-label>
          <input type="text" formControlName="address" matInput placeholder="example@example.com">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Phone No</mat-label>
          <input type="number" formControlName="phoneNo" matInput >
        </mat-form-field>


      </div>
    </div>
  </div>
  <div class="text-right">
    <button  mat-raised-button color="basic"  class="mr-2">Edit</button>
    <button  mat-raised-button color="basic" >Save</button>
    </div>
</form>
